<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.22cs.spotify-scraper</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/brienjohn/Documents/22CS/chart-scraper/spotify-daily-scraper/run_and_push.sh</string>
  </array>
  <key>StandardOutPath</key>
  <string>/Users/brienjohn/Documents/22CS/chart-scraper/spotify-daily-scraper/scrape.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/brienjohn/Documents/22CS/chart-scraper/spotify-daily-scraper/scrape.log</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>10</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>13</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>18</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>22</integer><key>Minute</key><integer>0</integer></dict>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
